In [26]:
import pandas as pd

In [27]:
df = pd.read_html("http://www.mtdb.igp.uu.se/Polysites/andpoly_3.html")

In [28]:
df_site = df[2]
df_site.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,CRS,2704 Sequences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,2010,T,NaN,NaN,1,2703,NaN,16S rRNA,NaN,NaN,NaN,NaN
3,2045,A,2699,5,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
4,2056,G,6,2698,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN

In [15]:
pd.DataFrame.loc??

In [36]:
df_site.columns = list(df[2].iloc[1])

In [37]:
df_site.head()

,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
0,CRS,2704 Sequences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,2010,T,NaN,NaN,1,2703,NaN,16S rRNA,NaN,NaN,NaN,NaN
3,2045,A,2699,5,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
4,2056,G,6,2698,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN

In [40]:
df_site.loc[2:].head()

,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,2010,T,NaN,NaN,1,2703,NaN,16S rRNA,NaN,NaN,NaN,NaN
3,2045,A,2699,5,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
4,2056,G,6,2698,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
5,2060,A,2703,1,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
6,2061,C,NaN,NaN,2703,1,NaN,16S rRNA,NaN,NaN,NaN,NaN

In [41]:
df_site[2:].head()

,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,2010,T,NaN,NaN,1,2703,NaN,16S rRNA,NaN,NaN,NaN,NaN
3,2045,A,2699,5,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
4,2056,G,6,2698,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
5,2060,A,2703,1,NaN,NaN,NaN,16S rRNA,NaN,NaN,NaN,NaN
6,2061,C,NaN,NaN,2703,1,NaN,16S rRNA,NaN,NaN,NaN,NaN